@font-face {
  font-family: 'PFBeauSansPro-Italic';
  src: url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.eot');
  src: url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.woff') format('woff'),
  url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.woff2') format('woff2'),
  url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.ttf') format('truetype'),
  url('font/PFBeauSansPro-Italic/PFBeauSansPro-Italic.svg#PFBeauSansPro-Italic') format('svg');
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Bold';
  src: url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.eot');
  src: url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.woff') format('woff'),
  url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.woff2') format('woff2'),
  url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.ttf') format('truetype'),
  url('font/PFBeauSansPro-Bold/PFBeauSansPro-Bold.svg#PFBeauSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-Regular';
  src: url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.eot');
  src: url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.woff') format('woff'),
  url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.woff2') format('woff'),
  url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.ttf') format('truetype'),
  url('font/PFBeauSansPro-Regular/PFBeauSansPro-Regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Light';
  src: url('font/PFBeauSansPro-Light/pfbeausanspro-light.eot');
  src: url('font/PFBeauSansPro-Light/pfbeausanspro-light.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.woff') format('woff'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.woff2') format('woff'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.ttf') format('truetype'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.svg#PFBeauSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import "elements.less";
@import "font-awesome/css/font-awesome.min.css";
@import "animate.css";
@color-base: #bb2449 ; // Розовый цвет по умолчанию
@color-base2: #042656 ; // Синий цвет по умолчанию

//Шрифты по умолчанию
.font-base-bold(@size){
  font:@size PFBeauSansPro-Bold, sans-serif;
}
.font-base-regular(@size){
  font: @size PFBeauSansPro-Regular, sans-serif;
}
.font-base-italic(@size){
  font:@size PFBeauSansPro-Italic, sans-serif;
}
.font-base-light(@size){
  font:@size PFBeauSansPro-Light, sans-serif;
}
.outline(@color){
  outline:0px solid @color;
}
.margin-paddingOff(){
  margin:0px;
  padding: 0px;
}
.row{
  max-width: 1176px;
  min-width: 980px;
  margin: 0 auto;
  display: block;
  height: auto;
  overflow: hidden;
}
#allBox {
  min-width:980px;
  overflow: hidden;
}
/*
-- Header
*/

.header{
  height: 760px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/headerbg.jpg") no-repeat ;

  .lineLeft{
    position: absolute;
    background-color:rgba(255,255,255,0.7);
    left: 0;
    top: 0;
    width: 35%;
    min-width: 320px;
    height: 132px;
    z-index: 1;
  }

  /*
 --- Меню
  */
  .menu{
    width: auto;
    height: 132px;
    background-color:rgba(255,255,255,0.7);
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.4);
    .menuLogo{
      width: 26%;
      height: 132px;
      background: url("../img/logo.png") no-repeat scroll center center;
      float: left;
      overflow: hidden;
      z-index: 2;
      position: relative;
       position: relative;
    }
    .menuLink {
      float: right;
      width: 74%;
      position: relative;
      z-index: 3;
      padding-top: 72px;
    }
    .menuLink ul {
      margin:0 auto ;
    }
      .menuLink ul li{
        display: inline-block;
        text-decoration: none;
        vertical-align: bottom;
        margin-left: 3.5656%;

      }
    .menuLink ul li:hover{
      color:@color-base;
    }
      .menuLink ul li a{
        text-decoration: none;
        .font-base-regular(19.5px);
        color: #555555;
      }
        .menuLink ul li a:hover{
          padding-bottom:8px;
          border-bottom:2px solid #cc2229 ;
          text-decoration: solid;
          .transition(@duration:0.35s, @ease:ease-out);
          color:@color-base;

        }
  }
}

/*
--- Search
*/
.both{
  clear: both;
}
.search{
  height: 150px;
  margin-top: 476px;

}
/*
---- Выбор куда поехать
*/

.select{
  height: 570px;
  width: 100%;
  background-color:@color-base2 ;
  padding-top: 25px;

  .selectBlock{
    margin: 0 auto;
    max-width: 1176px;
    min-width: 768px;
    height: auto;
    .outline(#fff);

    .selectBlockSearch{
      width: 100%;
      height: 182px;
      .outline(#fff643);
      background: url("../img/selecticons/sercch.png") no-repeat center top;
      padding-top: 25px;
      h2{
          .margin-paddingOff;
          text-align: center;
          padding-top: 60px;
          .font-base-regular(30px);
          color: #FFFFFF;
          text-transform: uppercase;


        }
    }
  }
  .selectBlockIcons{
    overflow: visible;
    display: inline-block;
    width: 100%;
  }
  .selectBlockIconsBlock{
    .outline(#fff);
    height: 191px;
    float: left;
    width: 16.66666666666667%;
    div{

      .hi-icon-wrap {
        text-align: center;
        margin: 0 auto;

        a{
          text-decoration:none;
          span{
            .font-base-regular(19px);
            border-bottom:1.5px dashed #FFFFFF;
            position:relative;
            top: 150px;
          }
        }
      }


      .hi-icon {
        display: inline-block;
        cursor: pointer;
        width: 150px;
        height:150px;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #fff;
        .transition(@duration:0.8s, @ease:ease-out);
      }

      .hi-icon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }

      .hi-icon-archive {
        background: url("../img/selecticons/1.png") no-repeat center;

      }
      .hi-icon-archive:hover {
        background: url("../img/selecticons/1a.png") no-repeat center;

      }
      .hi-icon-shop {
        background: url("../img/selecticons/2.png") no-repeat center;

      }
      .hi-icon-shop:hover {
        background: url("../img/selecticons/2a.png") no-repeat center;

      }
      .hi-icon-nature {
        background: url("../img/selecticons/3.png") no-repeat center;

      }
      .hi-icon-nature:hover {
        background: url("../img/selecticons/3a.png") no-repeat center;

      }
      .hi-icon-lifenight {
        background: url("../img/selecticons/4.png") no-repeat center;

      }
      .hi-icon-lifenight:hover {
        background: url("../img/selecticons/4a.png") no-repeat center;

      }
      .hi-icon-sity {
        background: url("../img/selecticons/5.png") no-repeat center;

      }
      .hi-icon-sity:hover {
        background: url("../img/selecticons/5a.png") no-repeat center;

      }
      .hi-icon-scing {
        background: url("../img/selecticons/6.png") no-repeat center;

      }
      .hi-icon-scing:hover {
        background: url("../img/selecticons/6a.png") no-repeat center;

      }


    }
  }
  /* Effect */
  .hi-icon-effect .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
  }

  .hi-icon-effect .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    .box-shadow(0 0 0 2px rgba(255,255,255,0.1));
    opacity: 0;
    .transform(scale (0.9));
  }

  .hi-icon-effect .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    .transform(scale(0.93));
    color: #fff;
  }


  .hi-icon-effect .hi-icon:hover:after {
    .animation(sonarEffect);
  }

  @-webkit-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;

      box-shadow: 0 0 0 2px rgba(255,255,255,0.1),
      0 0 10px 10px #3851bc,
      0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  @-moz-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      -moz-transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }

}
.selectBlockFilter {
  display: inline-block;
  height: auto;
  margin-top: 60px;
  width: 100%;

  .selectBlockFilterBox{
    float: left;
  }

   .selectBlockFilterBox:nth-child(1){
      width: 50%;
     display: inline-block;
     height: 100px;
     .outline(#e6ff35);
 }
    .selectBlockFilterBox:nth-child(2){
      width: 35%;
      height: 100px;
      .outline(#e6ff35);
  }
    .selectBlockFilterBox:nth-child(3){
     width: 15%;
      float: right;
      height: 100px;
      .outline(#e6ff35);
  }
  .selectBlockFilterBox ul {
    width: 100%;
    min-width: 176px;
    margin: 0;
    padding: 0;
    .margin-paddingOff;
  }

  .selectBlockFilterBox ul li{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    float: left;
    font: 21px PFBeauSansPro-Light, sans-serif;
    padding-right: 24px;
    .font-base-light(19px);

     span {
       display: block;
      padding-top: 18px;
    }

    a{
      text-decoration: none;
      color: #FFFFFF;
      border: 3px solid #ffffff;
      .border-radius(10px, 10px, 10px, 10px);
      padding: 15px 25px;
      background-clip: padding-box;
      float: left;
      .font-base-regular(20px);


    }
      a:hover{
        border-color:@color-base;
        color:@color-base;
        .transition(0.4s, linear);
      }
      a.active{
        border-color: @color-base !important;
        color: @color-base;
        padding: 15px 25%;
      }
      a.select-button{
        background-color: @color-base;
        border-color: #bb2449;
        color: #ffffff;
        padding: 12px 40px;
        text-align: center;
      }
      a.select-button:hover{
        border:3px solid #fff;
        border-color: @color-base !important;
        color: @color-base;
        background: none;
        .transition(0.2s, linear);
      }
  }
}

.destinations{
  height: auto;
  width: 100%;
  background-color: #f2ffe8;
  .destinationsContent{
    max-width: 1176px;
    min-width: 768px;
    height: auto;
    margin: 0 auto;
    .outline(#1d36ff);
    .destinationsContentBlockView{
      height: 90px;
       p{
         .font-base-regular(16px);
         text-align: center;
         margin: 0;
         padding-top: 25px;
          a{

            color:@color-base;
          }
       }
    }
      .destinationsContentTitle{
        width: 100%;
        height: auto;
        .outline(#04ff78);
        h2{
          .font-base-regular(30px);
          text-transform: uppercase;
          text-align: center;
          color: @color-base2;
          margin: 0;
          padding: 5% 0;
          display: inline-block;
          width: 100%;

        }
      }
      .destinationsContentBlockResult{
        width: 100%;
         font-size:0;

        .destinationsContentBlockBox{
          display: inline-block;
          width: 24.5%;
          height:286px ;
          margin: 0.25%;
          overflow: hidden;
          .outline(#ff4df0);
          .container{
            width: 100%;
            /*
             ---- Effect-2
            */
            .view-sixth img {
              -webkit-transition: all 0.4s ease-in-out 0.5s;
              -moz-transition: all 0.4s ease-in-out 0.5s;
              -o-transition: all 0.4s ease-in-out 0.5s;
              -ms-transition: all 0.4s ease-in-out 0.5s;
              transition: all 0.4s ease-in-out 0.5s;
            }
            .view-sixth .mask {
              /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#bb2449+0,042656+100&amp;0.5+0,0.5+100 */
              /* IE9 SVG, needs conditional override of 'filter' to 'none' */
              background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYmIyNDQ5IiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDQyNjU2IiBzdG9wLW9wYWNpdHk9IjAuNSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
              background: -moz-linear-gradient(-45deg,  rgba(187,36,73,0.5) 0%, rgba(4,38,86,0.5) 100%); /* FF3.6+ */
              background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(187,36,73,0.5)), color-stop(100%,rgba(4,38,86,0.5))); /* Chrome,Safari4+ */
              background: -webkit-linear-gradient(-45deg,  rgba(187,36,73,0.5) 0%,rgba(4,38,86,0.5) 100%); /* Chrome10+,Safari5.1+ */
              background: -o-linear-gradient(-45deg,  rgba(187,36,73,0.5) 0%,rgba(4,38,86,0.5) 100%); /* Opera 11.10+ */
              background: -ms-linear-gradient(-45deg,  rgba(187,36,73,0.5) 0%,rgba(4,38,86,0.5) 100%); /* IE10+ */
              background: linear-gradient(135deg,  rgba(187,36,73,0.5) 0%,rgba(4,38,86,0.5) 100%); /* W3C */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bb2449', endColorstr='#80042656',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              -webkit-transition: all 0.3s ease-in 0.4s;
              -moz-transition: all 0.3s ease-in 0.4s;
              -o-transition: all 0.3s ease-in 0.4s;
              -ms-transition: all 0.3s ease-in 0.4s;
              transition: all 0.3s ease-in 0.4s;
            }
            .view-sixth h2 {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              border-bottom: 1px solid rgba(187, 36, 73, 0.3);
              background: transparent;
              margin: 20px 40px 0px 40px;
              -webkit-transform: scale(10);
              -moz-transform: scale(10);
              -o-transform: scale(10);
              -ms-transform: scale(10);
              transform: scale(10);
              -webkit-transition: all 0.3s ease-in-out 0.1s;
              -moz-transition: all 0.3s ease-in-out 0.1s;
              -o-transition: all 0.3s ease-in-out 0.1s;
              -ms-transition: all 0.3s ease-in-out 0.1s;
              transition: all 0.3s ease-in-out 0.1s;
            }
            .view-sixth h3 {
              opacity: 1;
              color: #ffffff;
              .font-base-regular(20px);
              background-color:@color-base;
              padding:10px 2%;
              margin: 0;
              position: absolute;
              bottom: 0;
              z-index: 999;
              width: 100%;
              text-align: left;
              overflow: hidden;
            }
            .view-sixth h3 span {
              font-size: 15px;
              padding-left: 42%;
              padding-left: 100px;
            }
            .view-sixth:hover h3 {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 0;
              -webkit-transform: translate(0px,10px);
              -moz-transform: translate(0px,10px);
              -o-transform: translate(0px,10px);
              -ms-transform: translate(0px,10px);
              transform: translate(0px,10px);
              -webkit-transition: all 0.4s ease-in-out 0.1s;
              -moz-transition: all 0.4s ease-in-out 0.1s;
              -o-transition: all 0.4s ease-in-out 0.1s;
              -ms-transition: all 0.4s ease-in-out 0.1s;
              transition: all 0.4s ease-in-out 0.1s;
            }
            .view-sixth p {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              -webkit-transform: scale(10);
              -moz-transform: scale(10);
              -o-transform: scale(10);
              -ms-transform: scale(10);
              transform: scale(10);
              -webkit-transition: all 0.3s ease-in-out 0.2s;
              -moz-transition: all 0.3s ease-in-out 0.2s;
              -o-transition: all 0.3s ease-in-out 0.2s;
              -ms-transition: all 0.3s ease-in-out 0.2s;
              transition: all 0.3s ease-in-out 0.2s;
            }
            .view-sixth a.info {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
              filter: alpha(opacity=0);
              opacity: 0;
              -webkit-transform: translateY(100px);
              -moz-transform: translateY(100px);
              -o-transform: translateY(100px);
              -ms-transform: translateY(100px);
              transform: translateY(100px);
              -webkit-transition: all 0.3s ease-in-out 0.1s;
              -moz-transition: all 0.3s ease-in-out 0.1s;
              -o-transition: all 0.3s ease-in-out 0.1s;
              -ms-transition: all 0.3s ease-in-out 0.1s;
              transition: all 0.3s ease-in-out 0.1s;
              margin: 25% auto;

            }
            .view-sixth:hover .mask {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 1;
              -webkit-transition-delay: 0s;
              -moz-transition-delay: 0s;
              -o-transition-delay: 0s;
              -ms-transition-delay: 0s;
              transition-delay: 0s;
            }
            .view-sixth:hover img {
              -webkit-transition-delay: 0s;
              -moz-transition-delay: 0s;
              -o-transition-delay: 0s;
              -ms-transition-delay: 0s;
              transition-delay: 0s;
            }
            .view-sixth:hover h2 {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 1;
              .transform(scale(1));
              -webkit-transition-delay: 0.1s;
              -moz-transition-delay: 0.1s;
              -o-transition-delay: 0.1s;
              -ms-transition-delay: 0.1s;
              transition-delay: 0.1s;
            }

            .view-sixth:hover a.info {
              -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
              filter: alpha(opacity=100);
              opacity: 1;
              .transform(translateY(0px));
              -webkit-transition-delay: 0.3s;
              -moz-transition-delay: 0.3s;
              -o-transition-delay: 0.3s;
              -ms-transition-delay: 0.3s;
              transition-delay: 0.3s;
            }

            .view {
              width:100%;
              height: 286px;
              overflow: hidden;
              position: relative;
              text-align: center;
              cursor: default;
            }
            .view .mask,.view .content {
              width:100%;
              height: 286px;
              position: absolute;
              top: 0;
              left: 0;
            }
            .view img {
              display: block;
              width: 100%;
              min-width:286px;
              margin: 0 auto;

            }
            .view h2 {
              text-transform: uppercase;
              color: #fff;
              text-align: center;
              position: relative;
              font-size: 17px;
              padding: 10px;
              background: rgba(4,38,86, 0.8);
              margin: 20px 0 0 0;
            }

            .view a.info {
              .font-base-regular(15px);
              display: inline-block;
              text-decoration: none;
              padding: 7px 14px;
              background:@color-base;
              color: #fff;
              text-transform: uppercase;
              -webkit-box-shadow: 0 0 1px #000;
              -moz-box-shadow: 0 0 1px #000;
              box-shadow: 0 0 1px #000;
            }
            .view a.info:hover {
              -webkit-box-shadow: 0 0 5px #000;
              -moz-box-shadow: 0 0 5px #000;
              box-shadow: 0 0 5px #000;
            }


          }
        }

    }
  }
}
.promo{
  display: block;
  height:389px ;
  width: 100%;
  background-color: @color-base;
  .row{
    overflow: visible;
  }
    .promoBlockMobile{
      position: relative;
      height:389px;
      .outline(#fff);
      width: 50%;
      float: left;
      div{
        margin: 0 auto;
        width:476px;
        height:383px;
        position: relative;
        img{
          display: block;
          position: absolute;
          top: -45px;
          right:10px;
        }

      }

    }
   .promoText{
     width: 50%;
     .outline(#fff);
     float:right;
     height:389px;

      .promoTextBoxUp, .promoTextBoxBottom{
        width: 100%;
        height: auto;
        .outline(#fff626);
      }
     .promoTextBoxUp p{
       .font-base-regular(45px);
       color: #fff;
       margin: 0;
       letter-spacing:1.5px;
       padding: 20px;
     }

   }
    .promoTextBoxBottom {
           height: auto;
      .box1{
         p{
           display: inline-block;
           padding-left: 22px;
           a{
             .font-base-regular(15px);
             text-decoration: none;
             border-bottom: 1px solid #FFFFFF;
             color: #FFFFFF;
             margin-bottom: 10px;
           }
           a:hover{
             border:none;
           }
         }
            p i{
              font-size:30px;
              color: #FFFFFF;
              padding-right: 10px;
            }
      }
      .box2{
        p {
          padding-left: 20px;
          padding-top: 15px;
          a{
          .font-base-regular(15px);
            text-decoration: none;
            border-bottom: 1px solid #fff;
            color: #FFFFFF;
            padding-bottom:1px;
        }
          a:hover{
            border: none;
            color: #FFFFFF;

          }
        }
      }

    }
}
.country{
  height: 230px;
  width: 100%;
  background-color: @color-base2;

  .box-1, .box-2{
    float: left;
    height: 230px;
    width: 50%;
    .outline(#fff);
    a{
      color: #fff;
      text-decoration: none;
      .font-base-regular(15px);
      display: inline-table;
      padding-bottom: 2px;
      overflow: hidden;
    }
    a:hover{
      color: #f3d7de;
      border-bottom: 1px dashed #f3d7de;
    }

  }

  .box-1, .box-2{
    div{
      .outline(#fff);
      height: 230px;
      width: 50%;
      float: left;
      p{
        .font-base-regular(15px);
        color:@color-base;
      }
    }
    div:nth-child(2){
      padding-top:49px;
    }
  }
}
.mailResponder{
  background-color: #003f7b;
  width: 100%;
  height: 123px;
  .box{
    width: 50%;
    float: left;
    height: 123px;
    max-width: 588px;
    .outline(#fff);
    div{
      height: 48px;
      width: 100%;
      .outline(#fff);
      margin-top: 36px;
      max-width: 100%;
      form{
        width: 100%;
        input{
          float: left;
        }
        input[type="email"] {
          border: 1px solid #cfcfcf;
          border-radius:5px;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 rgba(255, 255, 255, 0.7);
          color: #614f44;
          .font-base-regular(15px);
          height:48px;
          padding: 0 8px 0 20px;
          width: 60%;
          margin-right: 28px;
        }
        input[type="submit"] {
          border-radius:5px;
          border: none;
          color: #fff;
          background-color: @color-base;
          .font-base-regular(15px);
          height:48px;
          padding: 0 8px 0 20px;
          width:25%;
        }
        input[type="submit"]:hover {
          background-color:#a70f34;

        }
      }
      p{
        .font-base-regular(32px);
        color: #fff;
        padding: 0;
        margin: 0;
      }
      span{
        .font-base-regular(14px);
        color: #FFFFFF;
      }
    }

  }
}
.footer{
  height:203px;
  width: 100%;
  background-color: #00112a;
  .footerLogo{
    background: url("../img/logofooter.png") no-repeat scroll center center;
    width: 25%;
    height: 203px;
    float: left;
  }
  .footerLink{
    padding-top:70px;
    float: right;
    height: 203px;
    width: 75%;
    a{
      color: #fff;
      text-decoration: none;
      margin-right:20px;
    }
    a:hover{
border-bottom: 1px dashed #FFFFFF;
    }

  }

}



