@font-face {
  font-family: 'PFBeauSansPro-Italic';
  src: url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.eot');
  src: url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.woff') format('woff'),
  url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.woff2') format('woff2'),
  url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.ttf') format('truetype'),
  url('font/PFBeauSansPro-Italic/pfbeausanspro-italic.svg#PFBeauSansPro-Italic') format('svg');
  font-weight: normal;
  font-style:normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Bold';
  src: url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.eot');
  src: url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.woff') format('woff'),
  url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.woff2') format('woff2'),
  url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.ttf') format('truetype'),
  url('font/PFBeauSansPro-Bold/pfbeausanspro-bold.svg#PFBeauSansPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PFBeauSansPro-Regular';
  src: url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.eot');
  src: url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.woff') format('woff'),
  url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.woff2') format('woff'),
  url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.ttf') format('truetype'),
  url('font/PFBeauSansPro-Regular/pfbeausanspro-regular.svg#PFBeauSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFBeauSansPro-Light';
  src: url('font/PFBeauSansPro-Light/pfbeausanspro-light.eot');
  src: url('font/PFBeauSansPro-Light/pfbeausanspro-light.eot?#iefix') format('embedded-opentype'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.woff') format('woff'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.woff2') format('woff'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.ttf') format('truetype'),
  url('font/PFBeauSansPro-Light/pfbeausanspro-light.svg#PFBeauSansPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}


@import "elements.less";
@import "font-awesome/css/font-awesome.min.css";
@import "animate.css";
@color-base: #bb2449 ; // Розовый цвет по умолчанию
@color-base2: #042656 ; // Синий цвет по умолчанию

//Шрифты по умолчанию
.font-base-bold(@size){
  font:@size PFBeauSansPro-Bold, sans-serif;
}
.font-base-regular(@size){
  font: @size PFBeauSansPro-Regular, sans-serif;
}
.font-base-italic(@size){
  font:@size PFBeauSansPro-Italic, sans-serif;
}
.font-base-light(@size){
  font:@size PFBeauSansPro-Light, sans-serif;
}
.outline(@color){
  outline:0px solid @color;
}
.margin-paddingOff(){
  margin:0px;
  padding: 0px;
}
.row{
  width: 1176px;
  min-width: 980px;
  margin: 0 auto;
  display: block;
  height: auto;
  overflow: hidden;
}
#allBox {
  min-width:980px;
  overflow: hidden;
}
/*
-- Header
*/

.header{
  height: 760px;
  width: 100%;
  margin: 0 auto;
  background: url("../img/headerbg.jpg") no-repeat ;

  .lineLeft{
    position: absolute;
    background-color:rgba(255,255,255,0.7);
    left: 0;
    top: 0;
    width: 35%;
    min-width: 320px;
    height: 132px;
    z-index: 1;
  }

  /*
 --- Меню
  */
  .menu{
    width: auto;
    height: 132px;
    background-color:rgba(255,255,255,0.7);
    margin: 0 auto;
    border: 1px solid rgba(255,255,255,0.4);
    .menuLogo{
      width: 26%;
      height: 132px;
      background: url("../img/logo.png") no-repeat scroll center center;
      float: left;
      overflow: hidden;
      z-index: 2;
      position: relative;
       position: relative;
    }
    .menuLink {
      float: right;
      width: 74%;
      position: relative;
      z-index: 3;
      padding-top: 72px;
    }
    .menuLink ul {
      margin:0 auto ;
    }
      .menuLink ul li{
        display: inline-block;
        text-decoration: none;
        vertical-align: bottom;
        margin-left: 3.5656%;

      }
    .menuLink ul li:hover{
      color:@color-base;
    }
      .menuLink ul li a{
        text-decoration: none;
        .font-base-regular(19.5px);
        color: #555555;
        font: 19px PFBeauSansPro-Regular, sans-serif;
      }
        .menuLink ul li a:hover{
          padding-bottom:8px;
          border-bottom:2px solid #cc2229 ;
          text-decoration: solid;
          .transition(@duration:0.35s, @ease:ease-out);
          color:@color-base;

        }
  }
}

/*
--- Search
*/
.both{
  clear: both;
}
.search{
  height: 150px;
  margin-top: 476px;

}
/*
---- Выбор куда поехать
*/

.select{
  height: 570px;
  width: 100%;
  background-color:@color-base2 ;
  padding-top: 25px;

  .selectBlock{
    margin: 0 auto;
    max-width: 1176px;
    min-width: 768px;
    height: 761px;
    .outline(#fff);

    .selectBlockSearch{
      width: 100%;
      height: 182px;
      .outline(#fff643);
      background: url("../img/selecticons/sercch.png") no-repeat center top;
      padding-top: 25px;
      h2{
          .margin-paddingOff;
          text-align: center;
          padding-top: 60px;
          .font-base-regular(30px);
          color: #FFFFFF;
          text-transform: uppercase;


        }
    }
  }
  .selectBlockIcons{
    overflow: visible;
    display: inline-block;
    width: 100%;
  }
  .selectBlockIconsBlock{
    .outline(#fff);
    height: 191px;
    float: left;
    width: 16.66666666666667%;
    div{

      .hi-icon-wrap {
        text-align: center;
        margin: 0 auto;

        a{
          text-decoration:none;
          span{
            .font-base-regular(19px);
            border-bottom:1.5px dashed #FFFFFF;
            position:relative;
            top: 150px;
          }
        }
      }


      .hi-icon {
        display: inline-block;
        cursor: pointer;
        width: 150px;
        height:150px;
        text-align: center;
        position: relative;
        z-index: 1;
        color: #fff;
      }

      .hi-icon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
      }

      .hi-icon-archive {
        background: url("../img/selecticons/1.png") no-repeat center;

      }
      .hi-icon-archive:hover {
        background: url("../img/selecticons/1a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }
      .hi-icon-shop {
        background: url("../img/selecticons/2.png") no-repeat center;

      }
      .hi-icon-shop:hover {
        background: url("../img/selecticons/2a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }
      .hi-icon-nature {
        background: url("../img/selecticons/3.png") no-repeat center;

      }
      .hi-icon-nature:hover {
        background: url("../img/selecticons/3a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }
      .hi-icon-lifenight {
        background: url("../img/selecticons/4.png") no-repeat center;

      }
      .hi-icon-lifenight:hover {
        background: url("../img/selecticons/4a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }
      .hi-icon-sity {
        background: url("../img/selecticons/5.png") no-repeat center;

      }
      .hi-icon-sity:hover {
        background: url("../img/selecticons/5a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }
      .hi-icon-scing {
        background: url("../img/selecticons/6.png") no-repeat center;

      }
      .hi-icon-scing:hover {
        background: url("../img/selecticons/6a.png") no-repeat center;
        .transition(@duration:0.8s, @ease:ease-out);
      }


    }
  }
  /* Effect */
  .hi-icon-effect .hi-icon {
    background: rgba(255,255,255,0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
  }

  .hi-icon-effect .hi-icon:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    .box-shadow(0 0 0 2px rgba(255,255,255,0.1));
    opacity: 0;
    .transform(scale (0.9));
  }

  .hi-icon-effect .hi-icon:hover {
    background: rgba(255,255,255,0.05);
    .transform(scale(0.93));
    color: #fff;
  }


  .hi-icon-effect .hi-icon:hover:after {
    .animation(sonarEffect);
  }

  @-webkit-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      -webkit-transform: scale(1.5);
      opacity: 0;
    }
  }
  @-moz-keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      -moz-transform: scale(1.5);
      opacity: 0;
    }
  }
  @keyframes sonarEffect {
    0% {
      opacity: 0.3;
    }
    40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
      box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255,255,255,0.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }

}
.selectBlockFilter {
  display: inline-block;
  height: auto;
  margin-top: 60px;

  .selectBlockFilterBox{
    float: left;
  }

   .selectBlockFilterBox:nth-child(1){
      width: 576px;
      .outline(#e6ff35);
 }
    .selectBlockFilterBox:nth-child(2){
      width: 400px;
     .outline(#e6ff35);
  }
    .selectBlockFilterBox:nth-child(3){
     width: 200px;
     .outline(#e6ff35);
  }
  .selectBlockFilterBox ul {
    .margin-paddingOff;
  }

  .selectBlockFilterBox ul li{
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
    margin-right: 20px;
    .font-base-light(19px);

    a{
      text-decoration: none;
      color: #FFFFFF;
      border:3px solid #fff;
      .border-radius(10px, 10px, 10px, 10px);
      padding:15px 30px;
      .font-base-regular(20px);


    }
      a:hover{
        border-color:@color-base;
        color:@color-base;
        .transition(0.4s, linear);
      }
      a.active{
        border-color: @color-base !important;
        color: @color-base;
      }
      a.select-button{
        background-color: @color-base;
        border-color:  @color-base;
        color: #FFFFFF;
        padding:12px 40px ;
      }
      a.select-button:hover{
        border:3px solid #fff;
        border-color: @color-base !important;
        color: @color-base;
        background: none;
        .transition(0.2s, linear);
      }
  }
}
